/* Animations */

@keyframes navMouseInInactive {
    from {
	background-color: #0B0775;
    }

    to {
	background-color: #060354;
    }
}

@keyframes navMouseInActive {
    from {
	background-color: #A84900;
    }

    to {
	background-color: #793400;
    }
}

/* Stylesheet */

html {
    height: 100%;
    font-family: 'century gothic', arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

header {
    color: #BBBBBB;
    background: radial-gradient(#110C91, #0B0775);
    width: 100%;
    margin: auto;
    overflow: auto;
}

.content {
    width: 850px;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font: normal 175% 'century gothic', arial, sans-serif;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;
}

#first-logo {
    width: 170px;
    height: 120px;
    padding-top: 10px;
}

.one-third {
    width: 33.3%;
    float: left;
}

.two-thirds {
    width: 66.7%;
    float: left;
}

.one-half {
    width: 50%;
    float: left;
}

.one-quarter {
    width: 25%;
    float: left;
}

.three-quarters {
    width: 75%;
    float: left;
}

.one-sixth {
    width: 16.7%;
    float: left;
}

.five-sixths {
    width: 83.3%;
    float: left;
}

.whole-width {
    width: 100%;
    float: left;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(#0B0775, #0B0775);
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #060354;
    animation-duration: 0.2s;
}

nav a.active {
    background-color: #A84900;
}

nav a.active:hover {
    background-color: #793400;
    animation-duration: 0.2s;
}
