#build {font:Arial, Helvetica, sans-serif;
font-size:36px;}
body {
	margin: 0;
	padding: 0;
	background: #EEF1F4 url(images/img03.jpg) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #B7B97F;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family: arial, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #FFFFFF;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #D64803;
}

a:hover {
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Header */

header {
	width: 100em;
	height: 104px;
	margin: 0 auto;
	}

/* Logo */

#logo {
	float: left;
	height: 60px;
	margin: 0;
	padding: 40px 0px 0px 20px;
	color: #FFFFFF;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	float: left;
	padding-left: 75px;
	letter-spacing: -1px;
	font-size: 40px;
	
}

#logo p {
	float: left;
	margin: 0;
	padding: 22px 0 0 10px;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
	}
	
.firstlogo {float:right;
	padding-top:15px;
	padding-left:15px;
	padding-right:10px;}
.westview{
loat:left;

}


/* Menu */

#menu {
	width: 1000px;
	height: 46px;
	margin: 0 auto;
	padding: 0;
	background: url(images/img04.jpg) no-repeat left top;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 48px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	
}

#menu a {
	display: block;
	height: 32px;
	margin-right: 3px;
	padding: 14px 15px 0px 15px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	background: #C44203;
}

#menu .current_page_item a {
	background: #C44203;
}

#menu a:hover {
	background: #000080;
	}

#Logo {
	width: 1000px;
	height: 260px;
	margin: 0px auto;
	
}


/* Page */

#page {
	width: 1000px;
	margin: 0 auto;
	padding: 0;
	background-color: #FFFFF3;
}



#page-bgbtm {
	margin: 0px;
	padding: 40px 30px 0px 30px;
	
}

/* Content */

#content {
	float: left;
	width: 520px;
	padding: 0px 20px;
}

.post {
	padding-bottom: 30px;
}

.post .title {
	height: 38px;
	letter-spacing: -.5px;
	color: #06F;
}

.post .title a {
	color: #FFFFFF;
	border: none;
}

.post .meta {
	margin-top: -10px;
	padding-bottom: 5px;
	border-bottom: 1px dashed #ACAD8E;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}



.post .entry {
	text-align: justify;
	margin-bottom: 25px;
	padding: 10px 0px 0px 0px;
}

.links {
	display: block;
	width: 96px;
	padding: 2px 0px 2px 0px;
	background: #A53602;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #FFFFFF;
}

/* Sidebar */

aside {
	float: right;
	width: 330px;
	padding: 0px 0px 0px 0px;
	color: #B7B97F;
}

aside ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

aside li {
	margin: 0;
	padding: 0;
}

aside li ul {
	margin: 0px 15px;
	padding-bottom: 30px;
}

aside li li {
	line-height: 35px;
	border-bottom: 1px dashed #ACAD8E;
}

aside li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

aside h2 {
	height: 38px;
	padding: 12px 0 0 15px;
	letter-spacing: -.5px;
	color: #FFFFFF;
}

aside p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
	text-align: justify;
}

aside a {
	border: none;
	color: #B7B97F;
}

aside a:hover {
	text-decoration: underline;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

footer-wrapper {
	width: 100%;
	background: #231202;
}

footer {
	width: auto;
	height: 100px;
	margin: 0 auto;
	padding: 0 0 15px 0;
	padding-left:15px;
	font-family: Arial, Helvetica, sans-serif;
}

footer p {
	margin: 0;
	padding-top: 40px;
	line-height: normal;
	font-size: 11px;
	text-align:left;
	color: #656646;
}

footer a {
	color: #3E3F27;
}